:host {
  display: flex;
  justify-content: center;
}

section {
  max-width: 105rem;
  height: 100lvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
section > * {
  transition-property: translate, opacity;
  transition: var(--trans-duration) var(--trans-easing);
}
section:not(.intersected) > * {
  translate: 0 25%;
  opacity: 0;
  pointer-events: none;
}

hack-panel {
  margin-top: 1rem;
  width: 100%;
}

hack-gallery {
  height: 100%;
}

.swiper-slide {
  width: fit-content;
}

hack-button {
  --btn-color: var(--main);
}
