:host {
  display: block;
  max-width: 100%;
  width: 100%;
  overflow: visible;
}

hack-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

hack-labeled-text {
  color: var(--opaque);
  align-self: center;
}
hack-input-label {
  color: var(--opaque);
}

/* MOBILE FIRST - Stack vertically */
.row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.row * {
  height: 2.75rem;
  --select-height: 2.75rem;
  width: 100%;
}

.name,
.name hack-text-input {
  height: 2.75rem;
}

/* TABLET AND UP - Horizontal layout */
@media (min-width: 640px) {
  :host {
    max-width: 33rem;
  }

  .row {
    flex-direction: row;
    height: 2.75rem;
  }

  .row * {
    flex: 1 1 0;
  }

  .semester {
    flex: 3 1 0;
  }

  .control-number {
    flex: 5 1 0;
  }
}
