:host {
  display: block;
  max-width: 33rem;
  overflow: visible;
}

hack-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

hack-labeled-text {
  color: var(--opaque);
  align-self: center;
}
hack-input-label {
  color: var(--opaque);
}
.row {
  display: flex;
  height: 2.75rem;
  gap: 0.8rem;
}

.row * {
  height: 2.75rem;
  --select-height: 2.75rem;
  flex: 1 1 0;
}

.semester {
  flex: 3 1 0;
}

.control-number {
  flex: 5 1 0;
}

.name,
.name hack-text-input {
  height: 2.75rem;
}
