:host {
  display: block;
  position: relative;
  width: 100%;
  height: calc(100vh - 5.75rem);
}

section {
  position: absolute;
  top: 45%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

img {
  width: 30rem;
}

img,
hack-text,
nav {
  transition-property: translate, opacity;
  transition: 0.5s ease;
}

hack-text {
  transition-delay: 0.1s;
}

nav {
  transition-delay: 0.2s;
}

section:not(.intersected) :is(img, hack-text, nav) {
  translate: 0 -20%;
  opacity: 0;
}

p {
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

hack-button {
  --btn-color: var(--main);
}
