<section hackIntersectable>
  <figure>
    <img src="/images/laguna-hack.webp" alt="" />
    <span class="date-label">05 DE MARZO DE 2026</span>
  </figure>
  <p>
    <hack-text>
      Desarrollar de manera colaborativa e intensiva, en un periodo de tiempo determinado de 10 horas,
      una propuesta de solución a un desafío, problemática o área de oportunidad tomando como punto de
      partida, los retos planteados para esta edición del evento; integrando de manera armónica tecnología
      de vanguardia, metodologías interdisciplinares, creatividad e innovación.
    </hack-text>
  </p>
  <nav>
    <ul>
      <li>
        <hack-button icon="team" mode="dark" (Click)="scrollToSection('hack-register')">Registra a tu equipo</hack-button>
      </li>
      <li>
        <hack-button icon="speaker" mode="outlined" (Click)="scrollToSection('hack-convocation')">Ver Convocatoria</hack-button>
      </li>
    </ul>
  </nav>
</section>
