:host {
  display: block;
  --label-align: unset;
  --label-justify: unset;
  --label-direction: column;
  --label-width: 100%;
  color: var(--main);
}

:host:not(:has(*[text])) {
  --label-direction: row;
  --label-width: fit-content;
  label {
    gap: 1rem;
  }
}
label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: var(--label-direction);
  align-items: var(--label-align);
  justify-content: var(--label-justify);
  gap: 0.5rem;
}

hack-labeled-text {
  color: inherit;
  width: var(--label-width);
}
