:host {
  display: block;
  --swiper-theme-color: var(--main);
}

.swiper {
  overflow-x: clip;
  overflow-y: visible;
}
.swiper-wrapper {
  transition-timing-function: var(--trans-easing);
}

.swiper-pagination {
  position: relative;
  margin-top: 1rem;
}
