:host {
  --panel-padding: 1.5rem;
  display: block;
  width: 100%;
  max-width: 100%;
  height: fit-content;
  padding: var(--panel-padding);
  border-radius: 1rem;
  border: 1px solid var(--stroke, #C2A8A3);
  background: var(--white, #FFF);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  :host {
    --panel-padding: 2rem 2.5rem;
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  :host {
    --panel-padding: 2rem 3rem;
  }
}
