<section
  hackIntersectable
  BottomMargin="-35%"
  TopMargin="-70%"
  class="itinerary"
>
  <hack-title>Itinerario Laguna Hack 2026</hack-title>

  <div class="content">

    <div class="info-card">
      <hack-labeled-text icon="date">Fecha del evento</hack-labeled-text>
      <hack-text>05 de marzo de 2026</hack-text>
    </div>

    <div class="info-card">
      <hack-labeled-text icon="time">Horario</hack-labeled-text>
      <hack-text>8:00 a 17:00 horas</hack-text>
    </div>

    <div class="info-card">
      <hack-labeled-text icon="location">Lugar</hack-labeled-text>
      <hack-text>Velario de la Laguna, Nogales, Veracruz</hack-text>
    </div>

    <div class="info-card">
      <hack-labeled-text icon="date">Fecha límite de registro</hack-labeled-text>
      <hack-text>03 de marzo de 2026</hack-text>
    </div>

  </div>

  <div class="schedule">
    <hack-labeled-text icon="light-bulb">Dinámica del evento</hack-labeled-text>

    <hack-text>
      Cada equipo obtendrá al azar la mesa de trabajo para desarrollar su propuesta de solución por el resto de la jornada.
    </hack-text>

    <hack-text>
      Los equipos conocerán en ese momento la temática específica para resolver y competirán en igualdad de circunstancias.
    </hack-text>

    <hack-text>
      La temática será del catálogo de semillero de proyectos elaborado por el Comité de Innovación y Emprendimiento del I.T.S.Z.
    </hack-text>
  </div>

  <div class="evaluation">
    <hack-labeled-text icon="star">Proceso de evaluación</hack-labeled-text>

    <hack-text>
      La recepción de propuestas será hasta las 17:00 horas del 05 de marzo de 2026.
    </hack-text>

    <hack-text>
      El jurado calificador enviará los resultados una semana después de la entrega.
    </hack-text>

    <hack-text>
      Los resultados finales se darán a conocer en las distintas redes sociales del I.T.S.Z el día 13 de marzo de 2026.
    </hack-text>
  </div>

</section>
