:host {
  position: relative;
  z-index: 0;
}

header {
  width: 100%;
  height: 5.75rem;
  position: sticky;
  top: 0;
}

ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

hack-button {
  --btn-color: var(--white);
}
