:host {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  width: 100%;
  height: 100lvh;
}
section > * {
  transition-property: translate, opacity;
  transition: var(--trans-duration) var(--trans-easing);
}
section:not(.intersected) > * {
  translate: 0 25%;
  opacity: 0;
  pointer-events: none;
}
hack-labeled-subtitle {
  color: var(--main);
}

.right {
  max-width: 39rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: end;
  align-items: end;
}

.right hack-button {
  --btn-color: var(--main);
}
