/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  font-size: 10px;
  --white: #ffffff;
  --light: #98b1d4;
  --main: #004772;
  --opaque: #618cbe;

  --title-font-family: Montserrat;
  --title-font-size: 2.5rem;
  --title-font-weight: 400;

  --subtitle-font-family: ABeeZee;
  --subtitle-font-size: 1.6rem;
  --subtitle-font-weight: 400;

  --bold-font-family: Poppins;
  --bold-font-size: 1.2rem;
  --bold-font-weight: 700;

  --text-font-family: Poppins;
  --text-font-size: 1.1rem;
  --text-font-weight: 400;

  --trans-duration: 0.5s;
  --trans-easing: ease;
}

/* Tablets y pantallas medianas */
@media (min-width: 768px) {
  :root {
    font-size: 11px;
    --title-font-size: 2.8rem;
    --subtitle-font-size: 1.8rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  :root {
    font-size: 12px;
    --title-font-size: 3rem;
    --subtitle-font-size: 2rem;
    --bold-font-size: 1.25rem;
    --text-font-size: 1.17rem;
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}
