<section
  hackIntersectable
  BottomMargin="-35%"
  TopMargin="-70%"
  class="committee"
>
  <hack-title>Comité Organizador</hack-title>

  <div class="content">
    <div class="institution-header">
      <hack-labeled-text icon="institution">Instituto Tecnológico Superior de Zongolica</hack-labeled-text>
      <span class="badge">Subdirección de Posgrado</span>
    </div>

    <div class="cards">
      <div class="card">
        <hack-icon icon="team"></hack-icon>
        <hack-text>Comité de LAGUNA HACK 2026</hack-text>
      </div>
      <div class="card">
        <hack-icon icon="light-bulb"></hack-icon>
        <hack-text>Comité de Emprendimiento e Innovación Tecnológica</hack-text>
      </div>
      <div class="card">
        <hack-icon icon="star"></hack-icon>
        <hack-text>INGETEC</hack-text>
      </div>
      <div class="card">
        <hack-icon icon="speaker"></hack-icon>
        <hack-text>Dirección General</hack-text>
      </div>
      <div class="card">
        <hack-icon icon="student-hat"></hack-icon>
        <hack-text>Subdirección Académica</hack-text>
      </div>
    </div>
  </div>

</section>
