:host {
  display: block;
  color: inherit;
  text-align: inherit;
  font-family: var(--title-font-family), sans-serif;
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: var(--title-font-weight);
}
